body {
    background-color: lightgray;
}
.upload{
    background-color:burlywood;
}
.ph{
    color:coral
}
.conge_form{
    margin-left: 20px;
}
.table{
    margin-left: 40px;
    margin-right: 40px;
}