{% extends 'base.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}


<table class="table">
 
  <tbody>
  {% for a in actualites %}
    <tr>
      <th scope="row"><h3>{{a.titre}}</h3></th>
      <td><h3>{{a.texte}}</h3></td>
      <td><a href="#">detail</a></td>
    </tr>

    {% endfor %}
  
  </tbody>
</table>
   {{ knp_pagination_render(actualites) }}
{% endblock %}
